@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0; 
  font-family: "Verdana", sans-serif;
  background:#0a0a0a;
  color: #f3f4f6;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0)
}